body {
  min-height: 100vh;
}

.mdv-brand {
  font-size: 10px;
}

.tab_btn {
  font-size: 0.6rem;
  padding: 4px;
}

.map {
  height: 300px;
  position: relative;
}

.pill_btn {
  padding: 8px 12px;
}

.weather_img {
  width: 100px;
  margin: 0 auto;
}

.hourly_card {
  padding: 5px;
}

.temp_desc {
  padding: 0 5px;
}

.temp_desc h6 {
  font-size: 0.8rem;
}

.leaflet-container {
  height: 100%;
}


@media only screen and (min-width : 480px) {
  .mdv-brand {
    font-size: 16px;
  }

  .tab_btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.9rem;
  }

  .pill_btn {
    padding: 8px 16px;
  }

  .temp_desc {
    padding: 0 15px;
  }
  
  .temp_desc h6 {
    font-size: 1rem;
  }
}

@media only screen and (min-width : 576px) {
  .tab_btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (min-width : 768px) {
  .tab_btn {
    font-size: 1rem;
  }

  .map {
    height: 350px;
  }
}

@media only screen and (min-width : 992px) {
  .map {
    height: 400px;
  }
}